.product{
     display: flex;
     justify-content: center;
     border-bottom: 1px solid black;
     margin-left: 100px;
     padding: 20px;
}
.product-details{
     color: blue;
     margin: 30px;

}
.product-details button{
     background-color: rgb(15, 15, 15);
     height: 50px;
     padding: 20px;
     border: 1px solid black;
     border-radius: 10px;
     color: white;
     

}